@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Great+Vibes&display=swap");
@import 'main', 'about', 'approach', "team";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

